// paper & background
$paper: #ffffff;

// primary
$primaryLight: #cceeff;   // A vibrant, light azure blue, perfect for bright backgrounds or highlights.
$primaryMain: #0099ff;    // A bold azure blue, vibrant and attention-grabbing, ideal for primary elements.
$primaryDark: #006bb5;    // A deeper azure blue that maintains vibrancy while offering strong contrast.
$primary200: #66c2ff;     // A light azure blue, great for standout accents and secondary elements.
$primary800: #004a80;     // A dark azure blue, providing strong contrast for key elements and text.


// secondary
$secondaryLight: #e3f2fd;  // Light and airy blue, perfect for backgrounds or soft accents in a light theme.
$secondaryMain: #2196f3;   // Vibrant and energetic blue, ideal for primary elements that need to stand out prominently.
$secondaryDark: #1e88e5;   // Slightly darker blue, providing good contrast for emphasis without overwhelming the design.
$secondary200: #90caf9;    // Soft and soothing blue, great for lighter accents or secondary elements within the layout.
$secondary800: #1565c0;    // Deep and rich blue, offering strong contrast for text or other key elements that need to be bold and visible.

// Success Colors
$successLight: #a3e8c0;   // A soft mint green, not too bright, for light backgrounds
$success200: #57d898;     // A balanced green, providing good contrast and visibility
$successMain: #00cc74;    // A vibrant yet slightly muted green, suitable for both themes
$successDark: #009e5c;    // A deeper green, rich enough for dark themes, with good readability

// Error Colors
$errorLight: #e57373;   // A soft, muted red that is visible on both light and dark backgrounds
$errorMain: #d32f2f;    // A strong, deep red that maintains its presence across themes
$errorDark: #b71c1c;    // A darker red that is rich and visible without being too harsh

// Orange Colors
$orangeLight: #ffccbc;  // A warm, light orange that is gentle on the eyes in both themes
$orangeMain: #ff7043;   // A vibrant orange that stands out without being overwhelming
$orangeDark: #e64a19;   // A deeper orange with good contrast for dark themes

// Warning Colors
$warningLight: #ffe0b2;  // A soft, light yellow-orange that is calming and readable on both themes
$warningMain: #ffb300;   // A warm, rich yellow that is clear and attention-grabbing across themes
$warningDark: #ffa000;   // A deeper, golden yellow that provides good contrast, especially in dark themes

// grey
$grey50: #f8fafc;
$grey100: #eef2f6;
$grey200: #e3e8ef;
$grey300: #cdd5df;
$grey500: #697586;
$grey600: #4b5565;
$grey700: #364152;
$grey900: #121926;

// ==============================|| DARK THEME VARIANTS ||============================== //

// paper & background
$darkBackground: #1a223f; // level 3
$darkPaper: #111936; // level 4

// dark 800 & 900
$darkLevel1: #29314f; // level 1
$darkLevel2: #212946; // level 2

// primary dark
$darkPrimaryLight: #99d6ff;  // A soft, vibrant azure blue that provides a bright highlight in dark themes.
$darkPrimaryMain: #007acc;   // A vibrant azure blue that stands out against dark backgrounds.
$darkPrimaryDark: #005299;   // A deep, bold azure blue, offering strong contrast and visibility in dark themes.
$darkPrimary200: #4db8ff;    // A vibrant, light azure blue for accents in dark themes.
$darkPrimary800: #003366;    // A dark, intense azure blue that offers excellent contrast and maintains vibrancy.


// secondary dark
$darkSecondaryLight: #e3f2fd;  // Light and crisp blue, providing a gentle highlight or background accent even in a dark theme.
$darkSecondaryMain: #2196f3;   // Bold and vivid blue, perfect for primary elements that need to maintain prominence in a dark theme.
$darkSecondaryDark: #1e88e5;   // Deeper, more intense blue, offering strong contrast for emphasized elements without being too harsh.
$darkSecondary200: #90caf9;    // Soft, cool blue that works well for lighter accents or secondary elements, ensuring visibility in dark mode.
$darkSecondary800: #1565c0;    // Rich and strong blue, providing excellent contrast for key text or focal points in a dark theme.

// text variants
$darkTextTitle: #d7dcec;
$darkTextPrimary: #bdc8f0;
$darkTextSecondary: #8492c4;

// ==============================|| JAVASCRIPT ||============================== //

:export {
    // paper & background
    paper: $paper;

    // primary
    primaryLight: $primaryLight;
    primary200: $primary200;
    primaryMain: $primaryMain;
    primaryDark: $primaryDark;
    primary800: $primary800;

    // secondary
    secondaryLight: $secondaryLight;
    secondary200: $secondary200;
    secondaryMain: $secondaryMain;
    secondaryDark: $secondaryDark;
    secondary800: $secondary800;

    // success
    successLight: $successLight;
    success200: $success200;
    successMain: $successMain;
    successDark: $successDark;

    // error
    errorLight: $errorLight;
    errorMain: $errorMain;
    errorDark: $errorDark;

    // orange
    orangeLight: $orangeLight;
    orangeMain: $orangeMain;
    orangeDark: $orangeDark;

    // warning
    warningLight: $warningLight;
    warningMain: $warningMain;
    warningDark: $warningDark;

    // grey
    grey50: $grey50;
    grey100: $grey100;
    grey200: $grey200;
    grey300: $grey300;
    grey500: $grey500;
    grey600: $grey600;
    grey700: $grey700;
    grey900: $grey900;

    // ==============================|| DARK THEME VARIANTS ||============================== //

    // paper & background
    darkPaper: $darkPaper;
    darkBackground: $darkBackground;

    // dark 800 & 900
    darkLevel1: $darkLevel1;
    darkLevel2: $darkLevel2;

    // text variants
    darkTextTitle: $darkTextTitle;
    darkTextPrimary: $darkTextPrimary;
    darkTextSecondary: $darkTextSecondary;

    // primary dark
    darkPrimaryLight: $darkPrimaryLight;
    darkPrimaryMain: $darkPrimaryMain;
    darkPrimaryDark: $darkPrimaryDark;
    darkPrimary200: $darkPrimary200;
    darkPrimary800: $darkPrimary800;

    // secondary dark
    darkSecondaryLight: $darkSecondaryLight;
    darkSecondaryMain: $darkSecondaryMain;
    darkSecondaryDark: $darkSecondaryDark;
    darkSecondary200: $darkSecondary200;
    darkSecondary800: $darkSecondary800;
}
